{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}websocket videos in server{% endblock %}</h1>  
{% endblock %}

{% block content %}
  <hr>
  <div id="streamed_data">
    {# streaming image #}
    <img src="" alt="your image">
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
  const image_div = document.getElementById('streamed_data');
  const image_element = image_div.getElementsByTagName("img")[0]

  const socket = io("http://localhost:5000/end");
  socket.on('connect', socket => {
    console.log('[socketio_client from end] I\'m connected!')
  });

  // if it operates in server
    socket.on('get_frame', (json_data) => {
    console.log("get data")
    image_element.src = json_data.image
  });
  

</script>

{% endblock %}
